<md-toolbar>Estoque SAE Digital

    <span style="flex: 1 1 auto;"></span>

    <md-menu #appMenu="mdMenu" yPosition="above">
        <!--<button md-menu-item> <a [routerLink]="['/produtos']">Produtos</a> </button>
        <button md-menu-item> <a [routerLink]="['/compras']">Compras</a> </button>-->
        <button md-menu-item (click)="showProdutos()"> Produtos </button>
        <button md-menu-item (click)="showCompras()"> Compras </button>

    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<router-outlet></router-outlet>
