<md-card>
  <md-card-title>Compras</md-card-title>
  <md-card-content>
    <md-nav-list>
      <md-list-item *ngFor="let compra of compras">
        <h3 md-line> <b>Produto:</b> {{compra.produto}} </h3>
        <p md-line>
          <span> <b>Qtd:</b> {{compra.quantidade}} </span>
          <span> <b>Preço:</b> {{compra.preco}} </span>
        </p>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>